version: '3.9'

services:
  api:
    build: .
    container_name: task-manager
    ports:
      - "3000:3000"
    env_file:
      - .env.docker
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:6
    container_name: mongoDB
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo-data:
